{
  "parser": "@babel/eslint-parser",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "requireConfigFile": false
  },
  "rules": {
    "semi": "off",
    "require-jsdoc": "off",
    "object-curly-spacing": "off",
    "max-len": [
      "error",
      {
        "ignoreTemplateLiterals": true
      }
    ],
    "no-prototype-builtins": "off"
  },
  "extends": ["eslint:recommended", "google"]
}
