.header {
  background: aquamarine;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
