.header {
  min-height: $height-header;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding-block: 10px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
