$green: #10793f;
$dark-green: #185c37;
$jungle-green: #21a366;
$shamrock-green: #33c481;
$color-border: #c0c0c0;
$color-info: #ac9a9a;

$height-header: 60px;
$height-toolbar: 40px;
$height-cell: 30px;
