$green: #10793f;
$dark-green: #185c37;
$jungle-green: #21a366;
$shamrock-green: #33c481;
$color-border: #c0c0c0;
$color-info: #ac9a9a;
$color-bg-cell: #f8f9fa;
$color-bg-column-head: #caced4;
$color-border-cell: #e2e3e3;
$color-border-cell-selected: #3c74ff;
$color-border-cell-active: #3c74ff;
$color-resizer-extra: #a5a2a2;

$height-header: 60px;
$height-toolbar: 60px;
$height-cell: 30px;
$width-cell: 150px;
$width-cell-info: 40px;
$size-cell-border: 1px;
$size-resizer: 4px;
$size-resizer: 4px;
$size-resizer-extra: 2px;

$viewport-mb: 639px;
